{% extends '../base/base.html' %}
<!--  -->
{% block title %} About {% endblock %}
<!--  -->
{% block content %}

<div class="text-center mt-2 mt-md-5">
     <h3>About Authentic Pinoy</h3>
     <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
          beatae corrupti, aspernatur fuga iste vero tempore explicabo sint
          voluptates omnis iusto, facilis accusamus alias? Beatae explicabo
          nesciunt dicta dolores ipsa itaque minus possimus delectus officiis
          illo deleniti, et aliquid similique nam eveniet laudantium fugit
          ipsum, quo porro. Alias, ut? Quaerat, fuga nulla doloremque quae
          incidunt, enim dicta vero voluptates ducimus quia tempora fugit
          beatae, animi praesentium illo numquam ea. Aut placeat harum neque
          vero necessitatibus quo saepe nihil deleniti nobis, aspernatur
          voluptatibus quia eaque eum doloribus molestias nostrum impedit omnis,
          officia at quasi tenetur laborum asperiores. Error nostrum aspernatur
          cupiditate exercitationem nesciunt, fugiat eius vitae veniam voluptas
          quasi sequi reiciendis esse quidem voluptatibus! Quibusdam, culpa
          magni repellat nostrum temporibus reiciendis repudiandae quisquam
          aspernatur quaerat doloribus amet ab expedita dignissimos pariatur,
          quis asperiores, quas illum? A soluta nihil praesentium fugit, magni,
          reprehenderit nesciunt aut quasi minima, ratione iste doloribus enim
          asperiores nam error quisquam! Totam voluptates, voluptatibus ducimus
          harum, aut doloremque facilis, sequi maiores doloribus rerum eaque ex
          quo consequuntur! Nihil autem quia, accusantium quas, cum, fuga
          deleniti aliquam corporis numquam deserunt blanditiis incidunt.
          Repellat sit pariatur eligendi nulla magnam iusto, quia explicabo
          aliquam et, dolore temporibus facere. Doloremque, accusantium qui?
     </p>
</div>
{% endblock %}
