{% load static %}
<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0" />
          <!-- CUSTOM HEADERS -->
          <link rel="stylesheet" href="{% static '/styles/base/base.css' %}" />
          <title>{% block title%}{% endblock %}</title>
     </head>
     <body>
          <div class="content-container">
               <div class="header-container">
                    {% include '../partials/_header.html' %}
               </div>
               <div class="main-content">{% block content %}{% endblock %}</div>
               <footer class="footer-container">
                    {% include '../partials/_footer.html' %}
               </footer>
          </div>
     </body>
</html>
